body{
	position: relative;
	font-family: 'Lato', Arial, sans-serif;
}
h1,h2,h3,h4,h5,h6,p,li,ul,ol,img{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}

.title{
	font-size: 18px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 1.5px;

	color: #353738;
}

.subtitle{
	font-size: 16px;
	line-height: 30px;
	color: #848789;
}

.underline{
	position: relative;

}
.underline::after{
	content: "";
	display: block;
	width: 50px;
	border-bottom: 1px solid #d7d7d7;
	position: absolute;
	bottom: -40px;
	left: 50%;
	transform: translateX(-50%);
}

.block::before{
	content: "";
  	border: 20px solid transparent;
	border-top: 20px solid #000;
	display: block;
	width: 0;
	height: 0;
	position: absolute;
	left: 50%;
	bottom: -130px;
	transform: translateX(-50%);
}

.wrapper{}

/*Header*/
.header{
	padding-top: 35px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

.header__navigation{
	display: flex;
	justify-content: center;
    align-items: center;
    gap: 62px;
}

.header__navigation-logo{
	order: 2;
}

.header__navigation-list-1{
	list-style: none;
	font-weight: bold;
	font-size: 13px;
	text-transform: uppercase;
	color: #4d4959;
	padding: 0;

	display: flex;
	order: 1;
}

.header__navigation-list-2{
	list-style: none;
	font-weight: bold;
	font-size: 13px;
	text-transform: uppercase;
	padding: 0;

	color: #4d4959;

	display: flex;
	order: 3;
}

.header__navigation-item{
	list-style: none;
	font-weight: bold;
	font-size: 13px;
	text-transform: uppercase;


	color: #4d4959;
}

.header__navigation-item:hover,
.header__navigation-item:focus{
	color: #64c29e;
}

.dott::after{
	content: "";
	width: 3px;
	height: 3px;
	border-radius: 50%;
	background-color: #4d4959;
	margin-left: 35px;
	margin-right: 35px;

	display: inline-block;

}

/*Main Section. Greetings Section*/
.greetings img{
	width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/*About Us Section*/
.about-us{
	background-color: #f7f7f7;
	padding-top: 115px;
	padding-bottom: 140px;
}

.about-us__info{
	max-width: 1080px;
	margin: 0 auto;
	text-align: center;
}
.about-us__info p{
	font-size: 18px;
	line-height: 2em;
}

.about-us__info img{
	margin-bottom: 30px;
}

/*Work Section*/
.work{
	display: flex;
}

.work__image-block{
    position: relative;
    flex-basis: 66.666666%;
    flex-shrink: 0;

}
.work__big-image{
	max-width: 100%;
	display: block;
	width: 100%;
}

.work__logo{
	position: absolute;
	max-width: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.work-aside{
	display: flex;
	flex-direction: column;
	flex: 1 0 533px;
	align-items: center;

	position: relative;
}

.work-aside__logo{
	padding-top: 70px;
	padding-bottom: 30px;
}

.work-aside h2{
	margin-bottom: 15px;
}
.work-aside p{
	max-width: 410px;

	padding-bottom: 40px;
}

.work-aside__img{
	max-width: 100%;

	padding: 0;
}

/*Shop Section*/
.shop{
	display: flex;
}

.shop-aside{
	display: flex;
	flex-direction: column;
}

.shop-aside__logo{

}