body{
	position: relative;
	font-family: 'Lato', Arial, sans-serif;
}
h1,h2,h3,h4,h5,h6,p,li,ul,ol,img,a,input{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}

.container{
	max-width: 1080px;
	margin: 0 auto;
	/*padding: 0 15px;*/
}
.title{
	font-size: 18px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 1.5px;

	color: #353738;
}

.subtitle{
	font-size: 16px;
	line-height: 30px;
	color: #848789;
}

.underline{
	position: relative;

}
.underline::after{
	content: "";
	display: block;
	width: 50px;
	border-bottom: 1px solid #d7d7d7;
	position: absolute;
	bottom: -40px;
	left: 50%;
	transform: translateX(-50%);
}

.block::before{
	content: "";
  	border: 20px solid transparent;
	border-top: 19px solid #fff;
	display: block;
	width: 0;
	height: 0;
	position: absolute;
	left: 50%;
	bottom: -120px;
	transform: translateX(-50%);
}

/*Header*/
.header{
	padding-top: 35px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

.header__navigation{
	display: flex;
	justify-content: center;
    align-items: center;
    gap: 62px;
}

.header__navigation-logo{
	order: 2;
}

.header__navigation-list-1{
	list-style: none;
	font-weight: bold;
	font-size: 13px;
	text-transform: uppercase;
	color: #4d4959;
	padding: 0;

	display: flex;
	order: 1;
}

.header__navigation-list-2{
	list-style: none;
	font-weight: bold;
	font-size: 13px;
	text-transform: uppercase;
	padding: 0;

	color: #4d4959;

	display: flex;
	order: 3;
}

.header__navigation-item{
	list-style: none;
	font-weight: bold;
	font-size: 13px;
	text-transform: uppercase;


	color: #4d4959;
}

.header__navigation-item:hover,
.header__navigation-item:focus{
	color: #64c29e;
}

.dott::after{
	content: "";
	width: 3px;
	height: 3px;
	border-radius: 50%;
	background-color: #4d4959;
	margin-left: 35px;
	margin-right: 35px;

	display: inline-block;

}

.hamburger{
	width: 40px;
	height: 40px;
	order: 4;
}

/*Main Section. Greetings Section*/
.greetings img{
	width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/*About Us Section*/
.about-us{
	background-color: #f7f7f7;
	padding-top: 115px;
	padding-bottom: 140px;
}

.about-us__info{
	text-align: center;
}

.about-us__info h2{
	margin-bottom: 25px;
}
.about-us__info p{
	font-size: 18px;
	line-height: 2em;
}

.about-us__info img{
	margin-bottom: 30px;
}

/*Work Section*/
.work{
	display: grid;
	grid-template-columns: 2fr minmax(400px, 1fr);
	grid-template-rows: 2fr 1fr;
}

.work__image-block{
	position: relative;
	background-image: url(../img/Layer-2.jpg);
	background-size: cover;

	grid-column: 1/2;
	grid-row: 1/3;
}

.work__image-block img{
	max-width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.work-aside{
	text-align: center;
	padding: 70px 65px 90px
}

.work-aside__logo{
	margin-bottom: 25px;
}

.work-aside h2{
	margin-bottom: 20px;

}
.work-aside p{
	text-align: justify;
	max-width: 401px;
	margin: 0 auto;
}

.work-aside__img{
	background-image: url(../img/Layer-3.jpg);
	background-size: cover;

	grid-column: 2/3;
	grid-row: 2/3;
}

/*Boriosa Section*/
.boriosa{
	display: grid;
	grid-template-columns: minmax(400px, 1fr) 2fr;
	grid-template-rows: 2fr 1fr;
}

.boriosa-aside{
	text-align: center;
	padding: 70px 65px 90px
}

.boriosa-aside__logo{
	margin-bottom: 25px;
}

.boriosa-aside h2{
	margin-bottom: 20px;
}
.boriosa-aside p{
	text-align: justify;
	max-width: 401px;
	margin: 0 auto;
}
.boriosa-aside__img{
	background-image: url(../img/Layer-4.jpg);
	background-size: cover;

	grid-column: 1/2;
	grid-row: 2/3;
}
.boriosa__image-block{
	position: relative;
	background-image: url(../img/Layer-5.jpg);
	background-size: cover;

	grid-column: 2/3;
	grid-row: 1/3;
}
.boriosa__image-block img{
	max-width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/*Retro Bike Section*/
.retro{
	display: grid;
	grid-template-columns: 1fr minmax(400px, 1fr) 1fr;
	grid-template-rows: 2fr 1fr;
}

.retro__image-block{
	position: relative;
	background-image: url(../img/Layer-6.jpg);
	background-size: cover;
	background-position-x: center;

	grid-column: 1/2;
	grid-row: 1/3;
}

.retro__image-block img{
	max-width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.retro-aside{
	text-align: center;
	padding: 70px 65px 90px
}

.retro-aside__logo{
	margin-bottom: 25px;
}
.retro-aside h2{
	margin-bottom: 20px;
}
.retro-aside p{
	text-align: justify;
	max-width: 401px;
	margin: 0 auto;
}

.retro-aside__img{
	background-image: url(../img/Layer-7.jpg);
	background-size: cover;

	grid-column: 2/3;
	grid-row: 2/3;
}

.retro-aside__img-right{
	background-image: url(../img/Layer-8.jpg);
	background-size: cover;
	background-position-x: center;

	grid-column: 3/4;
	grid-row: 1/3;
}

/*Social Section*/

.social{
	background-color: #f7f7f7;
	padding-top: 120px;
	padding-bottom: 70px;
	text-align: center;
}

.social img{
	margin:0 auto 25px;
}
.social h2{
	font-size: 18px;
	color: #353738;

	margin-bottom: 15px;
}
.social span{
	font-weight: 100;
}
.social p{
	font-size: 24px;
	font-style: italic;
	margin-bottom: 80px;
}
/*Social Section SLIDER*/
.slick-dots li button:before{
    content: "";
    width: 11px;
    height: 11px;
    border-radius: 50%;
    padding: 0px;
    cursor: pointer;
    color: transparent;
    border: 1px solid #a9afb3;
    outline: none;
    background: transparent;
}

.slick-dots li.slick-active button:before{
	content: "";
    background-color: #a9afb3;
}


/*Shop Section*/
.shop{
	display: grid;
	grid-template-columns: repeat(6, 16.66%);
	grid-template-rows: 1fr 1fr;
}

.shop_img1{
	background-image: url(../img/Layer-9.jpg);
	background-size: cover;
	grid-column: 1/2;
}

.shop_img2{
	background-image: url(../img/Layer-10.jpg);
	background-size: cover;
	grid-column: 2/3;
    grid-row: 1/2;
}
.shop_img3{
	background-image: url(../img/Layer-11.jpg);
	background-size: cover;
	grid-row: 2/3;
    grid-column: 1/3;
}
.shop_img4{
	background-image: url(../img/Layer-12.jpg);
	background-size: cover;
	grid-column: 3/4;
    grid-row: 1/3;
}

#shop_img5{
	grid-column: 4/5;
    grid-row: 1/3;
    /*display: block;*/
    width: 100%;
}
.shop_img6{
	background-image: url(../img/Layer-14.jpg);
	background-size: cover;
	grid-column: 5/7;
}
.shop_img7{
	background-image: url(../img/Layer-15.jpg);
	background-size: cover;

	grid-column: 5/6;
    grid-row: 2/3;
}
.shop_img8{
	background-image: url(../img/Layer-16.jpg);
	background-size: cover;

	grid-column: 6/7;
    grid-row: 2/3;
}

/*Discover Section*/
.discover{
	background-color: #282f35;

	padding-top: 65px;
	padding-bottom: 65px;
}

.discover a{
	margin: 0 auto;
	display: block;

	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	line-height: 50px;

	cursor: pointer;
	width: 300px;
    height: 50px;
    
    color: #fff;
    border: 1px solid #fff;
    background-color: inherit;	
}

.discover a:hover{
	background-color: #434f59;
}

/*Login Section*/
.login{
	text-align: center;
	padding-top: 110px;
	padding-bottom: 110px;
}

.login__logo{
	margin-bottom: 35px;
}

.login p{
	font-size: 24px;
	line-height: 34px;
	font-style: italic;

	margin-bottom: 35px;
}

.mail{
	font-size: 20px;
	line-height: 24px;
	font-style: italic;
	color: #afb6bb;
	border: 1px solid rgba(146,146,146,0.51);

	padding-top: 2px;
	padding-left: 25px;
	width: 375px;
	height: 68px;
}

.button{
	font-size: 24px;
	font-weight: 100;
	text-transform: uppercase;
	color: #fff;
	background-color: #64c29e;
	border: none;
	transition: 0.4s;

	width: 125px;
	height: 72px;
}

.button:hover{
	background-color: #4d4959;
}

/*Footer Section*/
.footer{
	padding-top: 90px;
	padding-bottom: 100px;
	background-color: #f7f7f7;
}

.footer-flex{
	display: flex;
	justify-content: space-between;
    align-items: center;
}

.footer__contacts h3{
	font-size: 16px;
	line-height: 18px;
	font-weight: bold;
	color: #848789;
}
.footer__contacts p{
	font-size: 14px;
	line-height: 18px;
	font-style: italic;
	color: #848789;
}
.footer__social{
	display: flex;
    gap: 15px
}
.footer__developer{
	display: flex;
	align-items: center;
}

.footer__developer p{
	font-size: 14px;
	line-height: 18px;
	font-style: italic;
	color: #848789;
	padding-right: 13px;
}

.hamburger{
		display: none;
	}


/*Full screenn - 1024px - обычные стили*/ 

/*1024px - 768px - @media (max-width: 1024px) {*/

/*768px - 480px - @media (max-width: 768px) */

/*480px - 320px - @media (max-width: 480px)*/
/*Adaptive media*/

@media (max-width: 1100px) {
	.container{
		max-width: 800px;
	}
	.hamburger{
		display: none;
	}
}
@media (max-width: 1023px) {
	.shop{
		grid-template-rows: repeat(4, minmax(200px, 1fr));
	}
	.shop_img1{
		grid-column: 1/3;
	}
	.shop_img2{
		grid-column: 3/5;
	    grid-row: 1/2;
	}
	.shop_img3{
		grid-column: 1/5;
	    grid-row: 2/3;
	}
	.shop_img4{
		grid-column: 5/7;
	    grid-row: 1/3;
	}

	#shop_img5{
		grid-column: 1/3;
	    grid-row: 3/5;
	}
	.shop_img6{
		grid-column: 3/7;
	}
	.shop_img7{
		grid-column: 3/5;
	    grid-row: 4/5;
	}
	.shop_img8{
		grid-column: 5/7;
	    grid-row: 4/5;
	}
}

@media (max-width: 850px) {
	.container{
	    max-width: 700px;
	}
	.social p{
	font-size: 20px;
	font-style: italic;
	}
	.hamburger{
		display: none;
	}

	.shop{
		grid-template-rows: repeat(4, minmax(200px, 1fr));
	}
	.shop_img1{
		grid-column: 1/3;
	}
	.shop_img2{
		grid-column: 3/5;
	    grid-row: 1/2;
	}
	.shop_img3{
		grid-column: 1/5;
	    grid-row: 2/3;
	}
	.shop_img4{
		grid-column: 5/7;
	    grid-row: 1/3;
	}

	#shop_img5{
		grid-column: 1/3;
	    grid-row: 3/5;
	}
	.shop_img6{
		grid-column: 3/7;
	}
	.shop_img7{
		grid-column: 3/5;
	    grid-row: 4/5;
	}
	.shop_img8{
		grid-column: 5/7;
	    grid-row: 4/5;
	}
}
/*768px - 480px - @media (max-width: 768px) */
@media (max-width: 768px) {
	.container{
	   padding: 0 5%;
	}
	.header{
		padding-top: 10px
	}
	.header__navigation{
		justify-content: space-between;
	}
	.navigation{
		display: none;
	}
	.header__navigation-logo{
		padding-left: 5px;
		width: 30%;
		height: 30%;
	}
	.hamburger{
		padding-right: 10px;
		display: block;
	}
	/*retro section*/
	.retro{
		grid-template-columns: 1fr minmax(400px, 1fr);
		grid-template-rows: 1fr 2fr 1fr;
	}

	.retro__image-block{
		grid-column: 1/2;
		grid-row: 2/4;
	}
	.retro-aside{
		grid-column: 2/3;
		grid-row: 2/3;
	}
	.retro-aside__img{
		grid-column: 2/3;
		grid-row: 3/4;
	}
	
	.retro-aside__img-right{
		grid-column: 1/3;
		grid-row: 1/2;
	}
	.retro__image-block img{
 		height: auto;
    	max-width: 170px;
	}
	/*Login Section*/
	.login{
		padding-top: 65px;
		padding-bottom: 70px;
	}
	.login p{
		font-size: 20px;
		margin-bottom: 20px;
	}
	.login__logo{
		width: 20%;
		height: 20%;
		margin-bottom: 15px;
	}
	.mail{
		font-size: 16px;
		padding-left: 25px;
		width: 270px;
		height: 50px;
		margin-bottom: 20px;
	}
	.button{
		display: block;
		margin: 0 auto;
		font-size: 20px;

		width: 145px;
		height: 55px;
	}
}


	
/*600px - 480px - @media (max-width: 480px)*/
@media (max-width: 600px) {
	.container{
	   padding: 0 10%;
	}
	.about-us{
		padding-top: 60px;
		padding-bottom: 80px
	}
	.about-us__info h2{
		font-size: 16px;
	}
	.about-us__info p{
		font-size: 16px;
	}
	/*Work Section*/
	.work{
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 2fr 1fr;
	}
	.work__image-block{
		grid-column: 1/2;
		grid-row: 1/2;
	}
	.work-aside{
		grid-column: 1/2;
		grid-row: 2/3;
	}
	.work-aside__img{
		grid-column: 1/2;
		grid-row: 3/4;
	}
	/*Boriosa Section*/
	.boriosa{
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 2fr 1fr;
	}
	.boriosa__image-block{
		grid-column: 1/2;
		grid-row: 1/2;
	}
	.boriosa-aside{
		grid-column: 1/2;
		grid-row: 2/3;
	}
	.boriosa-aside__img{
		grid-column: 1/2;
		grid-row: 3/4;
	}
	/*Retro Section*/
	.retro{
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 2fr 1fr;
	}

	.retro__image-block{
		grid-column: 1/2;
		grid-row: 1/2;
	}
	.retro-aside{
		grid-column: 1/2;
		grid-row: 2/3;
	}
	.retro-aside__img{
		grid-column: 1/2;
		grid-row: 3/4;
	}
	
	.retro-aside__img-right{
		display: none;
	}
	/*Social Section*/
	.social{
		padding-top: 60px;
		padding-bottom: 60px;
	}

	.social h2{
		font-size: 16px
	}
	.social p{
		font-size: 18px;
		margin-bottom: 40px;
	}
	/*Shop Section*/
	.shop{
		grid-template-rows: repeat(6, minmax(100px, 1fr));
	}
	.shop_img1{
		grid-column: 1/4;
	}
	.shop_img2{
		grid-column: 4/7;
	    grid-row: 1/2;
	}
	.shop_img3{
		grid-column: 1/7;
	    grid-row: 2/3;
	}
	.shop_img4{
		grid-column: 1/4;
	    grid-row: 3/5;
	}

	#shop_img5{
		grid-column: 4/7;
	    grid-row: 3/5;
	}
	.shop_img6{
		grid-column: 1/7;
		grid-row: 5/6;
	}
	.shop_img7{
		grid-column: 1/4;
	    grid-row: 6/7;
	}
	.shop_img8{
		grid-column: 4/7;
	    grid-row: 6/7;
	}

	/*Login Section*/
	.login{
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.login p{
		font-size: 18px;
		margin-bottom: 20px;
	}
	.login__logo{
		width: 20%;
		height: 20%;
		margin-bottom: 15px;
	}
	.mail{
		font-size: 14px;
		padding-left: 25px;
		width: 270px;
		height: 50px;
		margin-bottom: 20px;
	}
	.button{
		font-size: 18px;

		width: 145px;
		height: 55px;
	}

	/*Footer Section*/
	.footer{
		padding-top: 50px;
		padding-bottom: 20px;
	}
	.footer__contacts {
    	width: 35%;
	}
	.footer__social{
		gap: 8px;
	}
	.footer__developer {
   		flex-direction: column;
	}

}

/*480px - 320px - @media (max-width: 480px)*/
@media (max-width: 480px) {
	.container {
   		padding: 0 5%
	}

	.about-us{
		padding-top: 30px;
		padding-bottom: 40px;
	}
	.about-us img{
		width: 15%;
		height: 15%;
		margin-bottom: 10px;
	}
	.about-us__info h2{
		font-size: 16px;
		margin-bottom: 15px;
	}
	.about-us__info p{
		font-size: 14px;
		text-align: justify;
		padding: 0 10px;
	}

	.small-aside{
		padding: 30px 25px 90px;

	}

	/*Work Section*/
	.work-aside__logo{
		margin-bottom: 10px;
	}

	.work-aside h2{
		font-size: 16px;
		margin-bottom: 10px;

	}
	.work-aside p{
		font-size: 14px;
		text-align: justify;
	}
	/*Boriosa Section*/
	.boriosa-aside__logo{
		margin-bottom: 10px;
	}

	.boriosa-aside h2{
		font-size: 16px;
		margin-bottom: 10px;

	}
	.boriosa-aside p{
		font-size: 14px;
		text-align: justify;
	}
	/*Retro Section*/
	.retro-aside__logo{
		margin-bottom: 10px;
	}

	.retro-aside h2{
		font-size: 16px;
		margin-bottom: 10px;

	}
	.retro-aside p{
		font-size: 14px;
		text-align: justify;
	}
	/*--------*/
	.social{
		padding-bottom: 50px
	}
	.social p{
		margin-bottom: 40px
	}

	.discover a{
		width: 170px;
    	height: 50px;
	}

	.mail{
		width: 260px;
		height: 50px;
	}
	.button{
		width: 100%;
	}

	/*Footer Section*/
	.footer{
		padding-top: 20px;
	}
	.footer-flex{
		flex-direction: column;
		align-items: flex-start;
		gap: 15px;
	}
	.footer__contacts{
		width: 100%;
	}

	.footer__developer{
		flex-direction: row;
	}
}	
